@model Sistema.Universitario.Application.ViewModels.MateriaViewModel

@{
    ViewData["Title"] = "Detalhes da Disciplina";
}

<h1>@Model.Nome</h1>
<dl class="row">
    <dt class="col-sm-2">CursoId</dt>
    <dd class="col-sm-10">@Model.CursoId</dd>
    <dt class="col-sm-2">ProfessorId</dt>
    <dd class="col-sm-10">@Model.ProfessorId</dd>
</dl>

<p>
    <a class="btn btn-secondary" asp-action="Index">Voltar</a>
</p>
