@model IEnumerable<Sistema.Universitario.Application.ViewModels.ProfessorViewModel>

@{
    ViewData["Title"] = "Professores";
}

<div class="page-header">
    <h1>Professores</h1>
    <div class="controls-row">
        <a class="btn btn-primary" asp-action="Create">Criar novo professor</a>
    </div>
</div>

<div class="cards-grid">
@foreach (var item in Model)
{
    @await Html.PartialAsync("_EntityCard", item)
}
</div>
